html, body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

:root {
    --berkshire: "Berkshire", cursive;
    --lateef: "Lateef", cursive;
    --primary-color: #003859;
    --secondary-color: #00a5c4;
    --yellow-color: #ffd289;
}