/*color.css*/

.color-primary {
    color: var(--primary-color);
}

.color-primary-bg {
    background-color: var(--primary-color);
}

.color-secondary {
    color: var(--secondary-color);
}

.color-secondary-bg {
    background-color: var(--secondary-color);
}

.color-yellow {
    color: var(--yellow-color);
}

.color-yellow-bg {
    background-color: var(--yellow-color);
}


