/* import fonrs from font.css file */
@import url(./font.css);

/*import css variables*/
@import url(./variables.css);

/*Global classes*/
@import url(./global.css);

@import url(./typography.css);

@import url(./color.css);

#main {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bgg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}
.content {
	flex:1 0 auto;
}
.footer {
	flex-shrink: 0;
}
