/* import fonrs from font.css file */
@import url(./font.css);

/*import css variables*/
@import url(./variables.css);

/*Global classes*/
@import url(./global.css);

@import url(./typography.css);

@import url(./color.css);

#main {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bgg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#top-sale .owl-carousel .item {
    /*height: 400px;*/
    /*background: red;*/
}

#top-sale .owl-carousel .item .product img {
    max-width: 80%;
    transition: transform .5 ease;
    /*max-height: 30vh;*/
}

#top-sale .owl-carousel .item .product img:hover {
    transform: scale(1.1);
    /*max-height: 30vh;*/
}


#top-sale .owl-carousel .item .product a {
    overflow: hidden;
}

/*#top-sale .owl-carousel .item  .owl-theme .owl-nav button {
	position: absolute !important;
	top: 30% !important;
	outline: none !important;
}
#top-sale .owl-carousel .item  .owl-theme .owl-nav button .owl-prev {
	left: 0;
}
#top-sale .owl-carousel .item  .owl-theme .owl-nav .owl-prev  span{
	font-size: 35px;
	color: var(--primary-color);
	margin-left: -4rem;
	padding: 0 1rem;
}
#top-sale .owl-carousel .item  .owl-theme .owl-nav button .owl-next {
	right: 0;
}
#top-sale .owl-carousel .item  .owl-theme .owl-nav .owl-next  span{
	font-size: 35px;
	color: var(--primary-color);
	margin-right: -4rem;
	padding: 0 1rem;
}*/

/*#special-price .grid .grid-item {
	margin-right: 1.2rem;
	margin-top: 1rem;
}*/