/* import fonrs from font.css file */
@import url(./font.css);

/*import css variables*/
@import url(./variables.css);

/*Global classes*/
@import url(./global.css);

@import url(./typography.css);

@import url(./color.css);

#main {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bgg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#top-sale .owl-carousel .item {
    /*height: 400px;*/
    /*background: red;*/
}

#top-sale .owl-carousel .item .product img {
    max-width: 80%;
    transition: transform .5 ease;
    /*max-height: 30vh;*/
}

#top-sale .owl-carousel .item .product img:hover {
    transform: scale(1.1);
    /*max-height: 30vh;*/
}


#top-sale .owl-carousel .item .product a {
    overflow: hidden;
}



html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}
.content {
	flex:1 0 auto;
}
.footer {
	flex-shrink: 0;
}
